@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: $lightestneutralcolor;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    @include zero;

    background-color: $bodycolor;
    width: 100%;
    font-family: "ab-megadot9", sans-serif;
    font-weight: 400;
    font-style: normal;

    @include font-size($basefontsize);

    line-height: $baselineheight;
    letter-spacing: auto;
    color: $textcolor;

    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
}

body:after {
    content: '320';
    display: none;
}

main {
    padding-top: 150px;
}

/* Common  */

a {
    color: $black;
    text-decoration: none;
    position: relative;
    &:after {
        @include transition(all 0.2s ease-in-out);
        content: '';
        height:2px;
        width:100%;
        background-color: $black;
        position: absolute;
        bottom:-5px;
        left:0;
        z-index: -1;
    }
    &:before {
        @include transition(all 0.2s ease-in-out);
        content: '';
        height:calc(100% + 10px);
        width:0%;
        background-color: $black;
        position: absolute;
        top:-5px;
        left:-5px;
        z-index: -1;
    }
    &:hover {
        @include transition(all 0.2s ease-in-out);
        color:$white;
        &:before {
            @include transition(all 0.2s ease-in-out);
            content: '';
            width:calc(100% + 10px);
            background-color: $black;
            position: absolute;
            color:$white;
            z-index: -1;
        }
    }
}

.curtain-shade-thingie {
    background-image: url('../img/curtain-shade-thingie.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    pointer-events: none;
}

small {}

p {}

h1, h2, h3, h4, h5, h6 {}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

.strike {
    text-decoration: line-through;
}

hr {
    border-top: 1px solid #e5e5e5;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

img {
    width: 100%;
    line-height: 0;
}

b, strong {
    font-weight: 700;
}

.light {
    font-weight: 300;
}

.heavy {
    font-weight: 700;
}

.wow {
    visibility: hidden;
}