@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: $lightestneutralcolor;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    @include zero;

    background-color: $bodycolor;
    width: 100%;
    font-family: "ab-megadot9", sans-serif;
    font-weight: 400;
    font-style: normal;

    @include font-size($basefontsize);

    line-height: $baselineheight;
    letter-spacing: auto;
    color: $textcolor;

    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
}

body:after {
    content: '320';
    display: none;
}

main {
    padding-top: 150px;
    @include media($mobile) {
        padding-top: 140px;
    }            

}

/* Common  */

a, button {
    color: $black;
    text-decoration: none;
    position: relative;
    &:after {
        @include transition(all 0.2s ease-in-out);
        content: '';
        height:2px;
        width:100%;
        background-color: $black;
        position: absolute;
        bottom:-5px;
        left:0;
        z-index: -1;
    }
    &:before {
        @include transition(all 0.2s ease-in-out);
        content: '';
        height:calc(100% + 10px);
        width:calc(100% + 10px);
        background-color: $white;
        position: absolute;
        top:-5px;
        left:-5px;
        z-index: -1;
    }
    &:hover {
        @include transition(all 0.2s ease-in-out);
        color:$white;
        &:before {
            @include transition(all 0.2s ease-in-out);
            content: '';
            width:calc(100% + 10px);
            background-color: $black;
            position: absolute;
            color:$white;
            z-index: -1;
        }
    }
    &.no-dash {
        &:after {
            @include transition(all 0.2s ease-in-out);
            content: '';
            height:2px;
            width:0%;
            background-color: $black;
            position: absolute;
            bottom:-5px;
            left:0;
            z-index: -1;
        }
        &:before {
            @include transition(all 0.2s ease-in-out);
            content: '';
            height:calc(100% + 10px);
            width:calc(100% + 10px);
            background-color: $white;
            position: absolute;
            top:-5px;
            left:-5px;
            z-index: -1;
        }
        &:hover {
            @include transition(all 0.2s ease-in-out);
            color:$white;
            cursor: pointer;
            &:before {
                @include transition(all 0.2s ease-in-out);
                content: '';
                width:calc(100% + 10px);
                background-color: $black;
                position: absolute;
                color:$white;
                z-index: -1;
            }
        }
    }
    &.button {
        width:100%;
        max-width: 250px;
        text-align: center;
        padding: 15px 25px;
        text-transform: uppercase;
        background-color: $black;
        border:2px solid $black;
        color: $white;
        @include transition(all 0.2s ease-in-out);
        &:hover {
            background-color: $white;
            color: $black;
            @include transition(all 0.2s ease-in-out);
            cursor: pointer;
        }
       &:after {
            @include transition(all 0.2s ease-in-out);
            content: '';
            height:0px;
            width:0%;
            background-color: $black;
            position: absolute;
            bottom:0px;
            left:0;
            z-index: -1;
        }
        &:before {
            @include transition(all 0.2s ease-in-out);
            content: '';
            height:0;
            width:0;
            background-color: $white;
            position: absolute;
            top:0px;
            left:0px;
            z-index: -1;
        }
        &:hover {
            @include transition(all 0.2s ease-in-out);
            color:$black;
            border:2px solid $black;
            &:before {
                @include transition(all 0.2s ease-in-out);
                content: '';
                width:0;
                background-color: $black;
                position: absolute;
                color:$white;
                z-index: -1;
            }
        }
    }
}

.curtain-shade-thingie {
    background-image: url('../img/curtain-shade-thingie.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    pointer-events: none;
    z-index: z(shadow);
}

small {}

p {
    font-size: 14px;
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.25em;
}

h1 {
    font-size: 41px;
}

h2 {
    font-size: 21px;
    display: inline-block;
}

h3 {}

h4 {
    font-size: 12px;
}

h5 {}

.strike {
    text-decoration: line-through;
}

hr {
    border-top: 1px solid #e5e5e5;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

img {
    width: 100%;
    line-height: 0;
}

b, strong {
    font-weight: 700;
}

.light {
    font-weight: 300;
}

.heavy {
    font-weight: 700;
}

.wow {
    visibility: hidden;
}

::selection {
  color: red;
  background: yellow;
}

.footer-holder {
    position: relative;
    z-index: z(site-footer);
    footer {
        width:100%;
        text-align: center;
        .content {
            margin-bottom: $basepadding;
            ul {
                margin:0;
                padding:0;
                margin-bottom: 10px;
                li {
                    display: inline-block;
                    margin:0 5px;
                    @include media($mobile) {
                        margin-bottom: 10px;
                    }

                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                    }
                }
            }
            p {
                span {
                    background-color: $white;
                    padding:10px 10px;
                }
            }
            .payments-options {
                margin-top: 10px;
                @include flexbox;
                justify-content: center;
                align-items: center;
                img {
                    max-width: 200px;
                }
            }
        }
    }
}

.stuff {
    // background-color: aqua;
    position: sticky;
    width:100%;
    bottom:0;
    .content {
        padding-bottom: 50px;
        padding-top: $basepadding;
    }
    @include media($mobile) {
        display:none;
    }

}

.cart-mini-holder {
    position: fixed;
    top: 0;
    right: -490px;
    z-index: z(modal);
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    // background-color: rgba(0,0,0,0.5);
    @include flexbox;
    justify-content: flex-end;
    &.open {
        right: 0;
        opacity: 1;
        pointer-events: all;
        transition: all 0.2s ease-in-out;
    }
    .content {
        padding: 50px 0 50px 0;
        font-size: 14px;
        width: 490px;
        // color: $white;
        background-color: $white;
        box-shadow: -15px 0px 10px rgba(0, 0, 0, 0.1);
        @include flexbox;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        position: relative;
        .close-this {
            position: absolute;
            top:50px;
            right:50px;
            font-size: 12px;
            color: rgba(0, 0, 0, 0.3);
            text-transform: uppercase;
            text-align: right;
            a {
                text-decoration: none;
                color: rgba(0, 0, 0, 0.3);
                &:hover {
                    color: $black;
                }
            }
        }
        .products {
            // overflow-y: scroll;
            margin-top: 50px;
            .one-row {
                margin: 0 50px;
                @include flexbox;
                justify-content: space-between;
                margin-bottom: 30px;
                padding-bottom: 30px;
                border-bottom: 2px solid $black;
                .image {
                    width:80px;
                    margin-right: 20px;
                    img {
                        width:100%;
                        height:100%;
                    }
                }
                .text {
                    flex: 1;
                    // @include makeborder;
                    @include flexbox;
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-direction: column;
                    position: relative;
                    .remove {
                        position: absolute;
                        top:0;
                        right:0;
                        font-size: 12px;
                        color: rgba(0, 0, 0, 0.3);
                        text-transform: uppercase;
                        a {
                            text-decoration: none;
                            color: rgba(0, 0, 0, 0.3);
                            &:hover {
                                color: $black;
                            }
                        }
                    }
                    .top {
                        max-width: 80%;
                    }
                    .bottom {
                        width:100%;
                        // @include makeborder;
                        margin-top: 10px;
                        @include flexbox;
                        justify-content: space-between;
                        align-items: center;
                        color: rgba(0,0,0,0.3);
                        .size {
                            font-size: 14px;
                        }
                        .price {
                            font-size: 14px;
                        }
                        .quantity {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .recap-and-buy {
            // margin-bottom: 50px;
            width:100%;
            padding: 0px 50px;
            .total-price {
                font-size: 21px;
                text-transform: uppercase;
                text-align: center;
                margin-bottom: $basepadding;
            }
            button {
                width:100%;
                padding: 20px;
                text-transform: uppercase;
                background-color: $black;
                color: $white;
                @include transition(all 0.2s ease-in-out);
                margin-bottom: $basepadding;
                &:hover {
                    background-color: $white;
                    color: $black;
                    @include transition(all 0.2s ease-in-out);
                    cursor: pointer;
                }
            }
            p {
                font-size: 12px;
                text-align: center;
            }
        }
    }
}

.numbers-input {
    width:50px;
    text-align: center;
    border-radius: 0;
    border:1px solid $black;
    font-size: 16px;
    padding: 5px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.yen {
    &:before {
        content: '\f157';
        padding-right: 5px;
        font-family: 'Font Awesome 6 Pro';
    }   
}