section, div.section {
    margin: 0 auto;

    &.full {
        width: 100%;
        max-width: 100%;
    }

    &.wide {
        width: 100%;
        max-width: $site-max-width;
        padding-left: $basepadding;
        padding-right: $basepadding;

        @include media($mobile) {
            padding-left: $basepaddingmobile;
            padding-right: $basepaddingmobile;
        }
    }

    &.wide-no-padding {
        width: 100%;
        max-width: $site-max-width;
    }

    &.wide-mega-no-padding {
        width: 100%;
        max-width: $site-max-mega-width;
    }


    &.wide-mega {
        width: 100%;
        max-width: $site-max-mega-width;
        padding-left: $basepadding;
        padding-right: $basepadding;

        @include media($mobile) {
            padding-left: $basepaddingmobile;
            padding-right: $basepaddingmobile;
        }
    }

    &.wide-to-full-on-mobile {
        width: 100%;
        max-width: $site-max-width;
        padding-left: $basepadding;
        padding-right: $basepadding;

        @include media($mobile) {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}