/*

Built by Big South
URL: http://www.bigsouth.se

Yay!
*/

// Media query support required?
$media-queries-supported : true;

// Opacity support in IE required via the proprietry ActiveX?
$ie8-opacity-supported 	 : false;

// Import all SASS import
@import 'partials/imports';
	