/*

Built by Reizoko
URL: https://www.reizoko.jp

Yay!
*/

// Media query support required?
$media-queries-supported : true;

// Opacity support in IE required via the proprietry ActiveX?
$ie8-opacity-supported 	 : false;

// Import all SASS import
@import 'partials/imports';
