<nav>
    <section class="wide nav-holder-yeah">
        <ul>
            <li><a href="index.html">SHOP</a> /</li>
            <li><a class="main-logo" href="about.html"><img src="assets/img/yuzaki-shirahama-town-logo.svg" alt=""></a></li>
            <li><a href="contact.html">Cart</a></li>
        </ul>
    </section>
</nav>