<nav>
    <section class="wide nav-holder-yeah">
        <ul>
            <li>
                <a href="store.html">SHOP</a> / {{ current_nav }}
            </li>
            <li><a class="main-logo" href="index.html"><img src="assets/img/yuzaki-shirahama-town-logo.svg" alt=""></a></li>
            <li>
                <a href="cart.html">CART (0)</a>
            </li>
        </ul>
    </section>
</nav>