<nav>
    <section class="wide nav-holder-yeah">
        <ul class="first">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="store.html">Store</a>
            </li>
            <li>
                <a href="store.html">tiny city guide</a> 
            </li>
        </ul>
        <ul class="second">
            <li><a class="main-logo" href="index.html"><img src="assets/img/yuzaki-shirahama-town-logo.svg" alt=""></a></li>
        </ul>
        <ul class="third">
            <li>
                <a href="cart.html">CART (0)</a>
            </li>
        </ul>
    </section>
</nav>