
----------------------- Grid stuff:

@include display-grid;
@include grid-columns(repeat(12, 1fr));

@include grid-child(2,6,1,2);

----------------------- Twig loop

    index -
    % include "components/_blue-boxes.twig" with 
		{
			title: 'TV Standard',
			list_options: [
				{
					one: "12 kanaler + 7 valfria kanaler",
					two: "Playtjänst",
					three: "Kan ses på alla TV apparater i hushållet",
				},
				{
					one: "15 kanaler + 7 valfria kanaler",
					two: "Playtjänst",
					three: "Kan ses på alla TV apparater i hushållet",
				},
			],
		},
	%

    subpage -
    {{ title }}
    {% for item in list_options %}
    <div>
      {{ item.one }}
      <br />
      {{ item.two }}
      <br />
      {{ item.three }}
      <br />
    </div>
    <hr>
    {% endfor %}


----------------------- Toggle stuff with jQuery:

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
$( ".toggle-referal" ).click(function() {
    event.preventDefault();
    $( ".refer-a-friend-holder" ).toggleClass("visible");
    $( "body" ).toggleClass("mobile-nav-toggle");
});

----------------------- Animate CSS website:
https://animate.style

<script src="assets/js/external/wow.js"></script>
<script>
      new WOW().init();
</script>

----------------------- Hamburger:
https://github.com/jonsuh/hamburgers
