{% extends "partials/_layout.twig" %}

{# Set the page title #}
{% set pageTitle = 'shirahama.town' %}
{% set current_nav = 'Contact' %}

{% block page %}
	{# Start writing code! #}
	<section class="wide content-page-section">

		<div class="top-column">
			<div class="content">
                <h2>contact</h2>
				<h1>Please contact us</h1>
			</div>
		</div>
        <div class="full-column">
            <div class="left-column">
                    <h2>Get in Touch</h2>
                    <p>
                        Have questions about our products or services? We'd love to hear from you.
                    </p>
                    <h2>Business Hours</h2>
                    <p>
                        Monday to Friday, 9am to 4pm (JST)<br />
                        <br />
                        Whether you're interested in our products, need support with an existing order, or want to discuss reseller opportunities, don't hesitate to reach out. We typically respond to inquiries within 24 hours.
                        For urgent matters, calling is usually the fastest way to reach us.
                    </p>
            </div>
            <div class="right-column">
                    <h2>Contact</h2>
                    <p>
                        email: <a href="mailto:hello@shirahama.town">hello@shirahama.town</a> (Japanese & English)<br />
                        Phone: +81-80-4408-1979 (English only)<br />
                    </p>

                    <h2>Address</h2>
                    <p>
                        Shirahama.town<br />
                        1941 Shirahama<br />
                        Nishimuro, Wakayama<br />
                        649-2211<br />
                        Japan<br />
                    </p>

            </div>
        </div>

	</section>

{% endblock %}
