{% extends "partials/_layout.twig" %}

{# Set the page title #}
{% set pageTitle = 'shirahama.town' %}
{% set current_nav = 'FAQ' %}

{% block page %}
	{# Start writing code! #}
	<section class="wide content-page-section">

		<div class="top-column">
			<div class="content">
                <h2>faq</h2>
				<h1>Any questions?</h1>
			</div>
		</div>
        <div class="full-column">
            <div class="left-column">
                    <h2>How do I get my order?</h2>
                    <p>
                        We ship all orders via Japan Post, typically within 3 business days of purchase.
                    </p>
                    <h2>How do I get my order?</h2>
                    <p>
                        Once your order ships, you’ll receive and email stating it’s been sent. Japan Post provides reliable delivery throughout Japan with standard shipping times varying by location. We sadly don’t offer tracking.
                    </p>
                    <h2>How do I get my order?</h2>
                    <p>
                        We ship all orders via Japan Post, typically within 3 business days of purchase.
                    </p>
                    <h2>How do I get my order?</h2>
                    <p>
                        Once your order ships, you’ll receive and email stating it’s been sent. Japan Post provides reliable delivery throughout Japan with standard shipping times varying by location. We sadly don’t offer tracking.
                    </p>
            </div>
            <div class="right-column">
                    <h2>How do I get my order?</h2>
                    <p>
                        We ship all orders via Japan Post, typically within 3 business days of purchase.
                    </p>
                    <h2>How do I get my order?</h2>
                    <p>
                        Once your order ships, you’ll receive and email stating it’s been sent. Japan Post provides reliable delivery throughout Japan with standard shipping times varying by location. We sadly don’t offer tracking.
                    </p>
            </div>
        </div>

	</section>

{% endblock %}
