{% extends "partials/_layout.twig" %}

{# Set the page title #}
{% set pageTitle = 'shirahama.town' %}
{% set current_nav = 'FAQ' %}

{% block page %}
	{# Start writing code! #}
	<section class="wide content-page-section">

		<div class="top-column">
			<div class="content">
                <h2>faq</h2>
				<h1>Any questions?</h1>
			</div>
		</div>
        <div class="full-column">
            <div class="left-column">
                    <h2>How do I get my order?</h2>
                    <p>
                        We ship all orders via Japan Post, typically within 3 business days of purchase. Delivery time might vary due to your local post delivery system.
                    </p>
                    
                    <h2>Purchase currency?</h2>
                    <p>
                        We have all prices in JPY (Japanese Yen), but at checkout you can choose to pay the equivalent in your local currency.
                    </p>

                    <h2>Refund policy</h2>
                    <p>
                        If something is wrong with your order, we will refund you the full amount of your purchase. We will not refund partial amounts once the order has been returned. Pleae <a href="mailto:hello@shirahama.town">contact us</a> beforehand if you have any questions.
                    </p>
                    
                    <h2>Cancellation policy</h2>
                    <p>
                        please <a href="mailto:hello@shirahama.town">contact us</a> beforehand If you have any questions about your order. We will try to cancel your order within 24 hours of receiving your request. Make sure to include your order number in your email.
                    </p>
            </div>
            <div class="right-column">
                    <h2>privacy policy</h2>
                    <p>
                        We don't collect any personal information from you. We only use your name and email address to send you a receipt and to contact you if there are any issues with your order.
                    </p>
                    <h2>security of this website and our customer payments information</h2>
                    <p>
                        We use SSL encryption to protect your personal information and payment information. We also use a secure payment gateway to process your payments.
                    </p>
            </div>
        </div>

	</section>

{% endblock %}
