{% extends "partials/_layout.twig" %}

{# Set the page title #}
{% set pageTitle = 'shirahama.town' %}

{% block page %}
	{# Start writing code! #}
    <div class="background-image">
        <img src="assets/img/0_0-4-made.jpg" alt="background image" />
    </div>
	<section class="wide start-page-section">
		<div class="left-column">
			<div class="content">
				<h1>
                    <span>
                    We supply you with
                    the best high quality
                    designs for all your
                    omiyage  needs.
                    </span>
                </h1>
				<p>
                    <span>
					We drive to supply the town of Shirahama with 
                    the best high quality designs for your 
                    omiyage  needs.
					<br /><br />
					Stay tuned. Enjoy.
                    </span>
				</p>
			</div>
		</div>

	</section>

{% endblock %}
