{% extends "partials/_layout.twig" %}

{# Set the page title #}
{% set pageTitle = 'shirahama.town' %}

{% block page %}
	{# Start writing code! #}
	<section class="wide index-page-section">

		<div class="left-column">
			<div class="content">
				<h1>shirahama .town</h1>
				<p>
					Shirahama.town is a creative outlet for the Distorted
					kids & friends in the sleepy little 
					town of Shirahama in Wakayama, Japan.
					<br /><br />
					Stay tuned. Enjoy.
				</p>
			</div>
		</div>
		<div class="center-column">
			<div class="content">
				<div class="item">
					<div class="image">
						<a href="#">
							<img src="assets/img/placeholder-shirahama-shirt.jpg" alt="District of Yuzaki t-shirt" class="default-img" />
							<img src="assets/img/placeholder-shirt.jpg" alt="District of Yuzaki t-shirt back view" class="hover-img" />
						</a>
					</div>
					<div class="text">
						<p class="status">Coming soon</p>
						<h3>District of Yuzaki, Shirahama</h3>
						<p class="price">JPY 4,500</p>
					</div>
				</div>
				<div class="item inverted">
					<div class="image">
						<a href="#">
							<img src="assets/img/placeholder-shirt.jpg" alt="District of Yuzaki t-shirt" class="default-img" />
							<img src="assets/img/placeholder-shirahama-shirt.jpg" alt="District of Yuzaki t-shirt back view" class="hover-img" />
						</a>
					</div>
					<div class="text">
						<p class="status">Coming soon</p>
						<h3>District of Yuzaki, Shirahama</h3>
						<p class="price">JPY 4,500</p>
					</div>
				</div>
				<div class="item">
					<div class="image">
						<a href="#">
							<img src="assets/img/placeholder-shirahama-shirt.jpg" alt="District of Yuzaki t-shirt" class="default-img" />
							<img src="assets/img/placeholder-shirt.jpg" alt="District of Yuzaki t-shirt back view" class="hover-img" />
						</a>
					</div>
					<div class="text">
						<p class="status">Coming soon</p>
						<h3>District of Yuzaki, Shirahama</h3>
						<p class="price">JPY 4,500</p>
					</div>
				</div>
				<div class="item inverted">
					<div class="image">
						<a href="#">
							<img src="assets/img/placeholder-shirt.jpg" alt="District of Yuzaki t-shirt" class="default-img" />
							<img src="assets/img/placeholder-shirahama-shirt.jpg" alt="District of Yuzaki t-shirt back view" class="hover-img" />
						</a>
					</div>
					<div class="text">
						<p class="status">Coming soon</p>
						<h3>District of Yuzaki, Shirahama</h3>
						<p class="price">JPY 4,500</p>
					</div>
				</div>
			</div>
		</div>
		<div class="right-column">
			<div class="content">
				<h2>Made by us</h2>
				<p>
					Made locally in the Kansai region using 
					premium Japanese materials.
					<br /><br />
					every piece 
					connects you to the authentic spirit 
					of this remarkable corner of Japan.
					<br /><br />
					That is why we are here.
				</p>
			</div>
		</div>

	</section>

{% endblock %}
