{% extends "partials/_layout.twig" %}

{# Set the page title #}
{% set pageTitle = 'shirahama.town' %}

{% block page %}
	{# Start writing code! #}
	<section class="wide product-page-section">

		<div class="left-column">
			<div class="content">
				<h4>Coming soon</h4>
				<h1><span>District of yuzaki / Shirahama</span></h1>
				<h4 class="price yen">4.500</h4>
				<h4>Description</h4>
				<h2><span>Represent the yuzaki District with pride!</span></h2>
				<p>
					<span>order made and Hand printed in Shirahama, Japan.
					Prints might vary, but that's what's awesome with
					supporting Small Local businesses.</span>
				</p>
			</div>
		</div>
		<div class="center-column">
			<div class="content">
				<img src="assets/img/Group-33.jpg" alt="District of Yuzaki t-shirt" class="default-img" />
				<img src="assets/img/U24A103.jpg" alt="District of Yuzaki t-shirt back view" class="hover-img" />
				<img src="assets/img/0_0-4cc.jpg" alt="District of Yuzaki t-shirt back view" class="hover-img" />
				<img src="assets/img/0_3-3x.jpg" alt="District of Yuzaki t-shirt back view" class="hover-img" />
				<img src="assets/img/0_0-x5.jpg" alt="District of Yuzaki t-shirt back view" class="hover-img" />
				<img src="assets/img/0_0-4.jpg" alt="District of Yuzaki t-shirt" class="default-img" />
				<img src="assets/img/FREE-Outdoor-T-Shirt-Mockup.jpg" alt="District of Yuzaki t-shirt" class="default-img" />
				<img src="assets/img/Tooooools-App-Image.jpg" alt="District of Yuzaki t-shirt" class="default-img" />
				<img src="assets/img/0_1-7.jpg" alt="District of Yuzaki t-shirt" class="default-img" />
				<img src="assets/img/0_2-4.jpg" alt="District of Yuzaki t-shirt" class="default-img" />
				<img src="assets/img/0_2-3.jpg" alt="District of Yuzaki t-shirt back view" class="hover-img" />
			</div>
		</div>
		<div class="right-column">
			<div class="content">
				<div class="one-row">
					<span>
						size
					</span>
					<div class="size-options">
                        <div class="size-option low-stock" 
                            data-url="shirahama-town-t-shirt-small" 
                            data-stock="1" 
                            data-size="S" 
                            data-low-stock="true">
                            S
                        </div>
                        <div class="size-option current" 
                            data-url="shirahama-town-t-shirt-medium" 
                            data-stock="4" 
                            data-size="M" 
                            data-current="true">
                            M
                        </div>
                        <div class="size-option" 
                            data-url="shirahama-town-t-shirt-large" 
                            data-stock="4" 
                            data-size="L">
                            L
                        </div>
                        <div class="size-option out-of-stock" 
                            data-url="shirahama-town-t-shirt-xlarge" 
                            data-stock="0" 
                            data-size="XL" 
                            data-out-of-stock="true">
                            XL
                        </div>
                    </div>
				</div>
				{# <div class="one-row">
					<span>
						Quantity
					</span>
					<div class="radio-holder">
						<input type="radio" name="quantity" id="one" value="1" checked>
						<label for="one">One</label>
						<input type="radio" name="quantity" id="two" value="2">
						<label for="two">Two</label>
						<input type="radio" name="quantity" id="three" value="3">
						<label for="three">Three</label>
					</div>
				</div> #}
				<div class="one-row no-dash">
					<button class="button stock-info">Buy this shirt</button>
				</div>
			</div>
		</div>

	</section>

{% endblock %}
