{% extends "partials/_layout.twig" %}

{# Set the page title #}
{% set pageTitle = 'shirahama.town' %}

{% block page %}
	{# Start writing code! #}
	<section class="wide index-page-section">

		<div class="left-column new">
			<div class="content">
				<h1>Awesome apparel from the town of shirahama</h1>
				<p>
					We drive to supply the town of Shirahama with the best high quality designs for your omiyage  needs.
					<br /><br />
					Stay tuned. Enjoy.
				</p>
			</div>
		</div>
        <div class="two-column">
            <div class="content">

                <div class="item">
					<div class="image">
						<a href="product.html">
							<img src="assets/img/placeholder-shirahama-shirt.jpg" alt="District of Yuzaki t-shirt back view" class="defalut-img" />
							<img src="assets/img/placeholder-shirt.jpg" alt="District of Yuzaki t-shirt" class="hover-img" />
						</a>
					</div>
					<div class="text">
						<span class="name"><a href="" class="no-dash">Shirahama town and stuff</a></span>
						<p class="price yen">4,500</p>
                        <div class="sizes">
                            <a href=""><span>S</span></a>
                            <a href=""><span>M</span></a>
                            <a href=""><span>L</span></a>
                            <span class="out-of-stock">XL</span>
                        </div>
						<p class="status new">NEW</p>
					</div>
				</div>

                <div class="item">
					<div class="image">
						<a href="product.html">
							<img src="assets/img/placeholder-shirahama-shirt.jpg" alt="District of Yuzaki t-shirt back view" class="defalut-img" />
							<img src="assets/img/placeholder-shirt.jpg" alt="District of Yuzaki t-shirt" class="hover-img" />
						</a>
					</div>
					<div class="text">
						<span class="name"><a href="" class="no-dash">Shirahama town</a></span>
						<p class="price">JPY 4,500</p>
                        <div class="sizes">
                            &nbsp;
                        </div>
						<p class="status comming-soon">Coming soon</p>
					</div>
				</div>

                <div class="item">
					<div class="image">
						<a href="product.html">
							<img src="assets/img/placeholder-shirahama-shirt.jpg" alt="District of Yuzaki t-shirt back view" class="defalut-img" />
							<img src="assets/img/placeholder-shirt.jpg" alt="District of Yuzaki t-shirt" class="hover-img" />
						</a>
					</div>
					<div class="text">
						<span class="name"><a href="" class="no-dash">Shirahama town</a></span>
						<p class="price">JPY 4,500</p>
                        <div class="sizes">
                            <span class="out-of-stock">S</span>
                            <span class="out-of-stock">M</span>
                            <span class="out-of-stock">L</span>
                            <span class="out-of-stock">XL</span>
                        </div>
						<p class="status sold-out">Sold out</p>
					</div>
				</div>

                <div class="item">
					<div class="image">
						<a href="product.html">
							<img src="assets/img/placeholder-shirahama-shirt.jpg" alt="District of Yuzaki t-shirt back view" class="defalut-img" />
							<img src="assets/img/placeholder-shirt.jpg" alt="District of Yuzaki t-shirt" class="hover-img" />
						</a>
					</div>
					<div class="text">
						<span class="name"><a href="" class="no-dash">Shirahama town</a></span>
						<p class="price">JPY 4,500</p>
                        <div class="sizes">
                            <a href=""><span>S</span></a>
                            <a href=""><span>M</span></a>
                            <a href=""><span>L</span></a>
                            <span class="out-of-stock">XL</span>
                        </div>
						<p class="status"></p>
					</div>
				</div>

                <div class="item">
					<div class="image">
						<a href="product.html">
							<img src="assets/img/placeholder-shirahama-shirt.jpg" alt="District of Yuzaki t-shirt back view" class="defalut-img" />
							<img src="assets/img/placeholder-shirt.jpg" alt="District of Yuzaki t-shirt" class="hover-img" />
						</a>
					</div>
					<div class="text">
						<span class="name"><a href="" class="no-dash">Shirahama town</a></span>
						<p class="price">JPY 4,500</p>
                        <div class="sizes">
                            <a href=""><span>S</span></a>
                            <a href=""><span>M</span></a>
                            <a href=""><span>L</span></a>
                            <span class="out-of-stock">XL</span>
                        </div>
						<p class="status comming-soon">Coming soon</p>
					</div>
				</div>

            </div>

        </div>

	</section>

{% endblock %}
